Repository surenachiron/instagramClone: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cspell, eslint --fix

foo: this will fail
  .husky/commit-msg
Due: none

initial
  .cspell.json
  .husky/commit-msg
  .husky/pre-commit
  commitlint.config.cjs
  commitlint.config.js
  keywords.txt
  package-lock.json
  package.json
  src/styles/globals.css
Due: prettier --write, cspell, eslint --fix

static media
  public/Icon.svg
  public/anonymous.png
  public/typography.svg
Due: none

feat(ui): create home page with its feature like stories, posts and etc
  src/app/home/_component/Header.tsx
  src/app/home/_component/HomeContent/HomeContent.tsx
  src/app/home/_component/HomeContent/posts/CallPosts.tsx
  src/app/home/_component/HomeContent/posts/MultiplePosts.tsx
  src/app/home/_component/HomeContent/posts/ShowPosts.tsx
  src/app/home/_component/HomeContent/posts/index.tsx
  src/app/home/_component/HomeContent/story/AddStory.tsx
  src/app/home/_component/HomeContent/story/PreviewStories.tsx
  src/app/home/_component/HomeContent/story/PreviewStoryMap.tsx
  src/app/home/_component/HomeContent/story/ShowStoriesMap.tsx
  src/app/home/_component/HomeContent/story/StoryDetail.tsx
  src/app/home/_component/HomeContent/story/StoryProgress.tsx
  src/app/home/_component/profileSide/ProfileInfo.tsx
  src/app/home/_component/profileSide/index.tsx
  src/app/home/_component/utileSide/DirectMassages.tsx
  src/app/home/_component/utileSide/NavigateMobile.tsx
  src/app/home/_component/utileSide/PagesList.tsx
  src/app/home/_component/utileSide/index.tsx
  src/app/home/layout.tsx
  src/app/home/loading.tsx
  src/app/home/page.tsx
  src/app/home/stories/page.tsx
  src/app/layout.tsx
  src/app/loading.tsx
  src/app/not-found.tsx
Due: prettier --write, cspell, eslint --fix

feat(store): store for story and util search
  src/store/stories.ts
  src/store/util.ts
Due: prettier --write, cspell, eslint --fix

feat(hooks): add supabase and some hook
  src/hooks/supabase/client.ts
  src/hooks/supabase/server.ts
  src/hooks/textReducer.tsx
  src/hooks/useMedia.tsx
Due: prettier --write, cspell, eslint --fix

feat(ui): add ui and reusable components
  src/components/BackPage.tsx
  src/components/Box.tsx
  src/components/Button.tsx
  src/components/GradientContainer.tsx
  src/components/GradientText.tsx
  src/components/SearchBox.tsx
  src/components/Skeleton.tsx
Due: prettier --write, cspell, eslint --fix

feat(ui): profile page
  src/app/profile/_component/ProfileInformation.tsx
  src/app/profile/layout.tsx
  src/app/profile/loading.tsx
  src/app/profile/page.tsx
Due: prettier --write, cspell, eslint --fix

fix(key): add new keywords
  keywords.txt
Due: none

fix: install supabase-ssr package
  package-lock.json
  package.json
Due: prettier --write, cspell

fix(ui): change js type to safe type for ts
  src/app/home/_component/HomeContent/story/AddStory.tsx
Due: prettier --write, cspell, eslint --fix

fix: error of document is not defined
  src/app/home/_component/HomeContent/story/ShowStoriesMap.tsx
Due: prettier --write, cspell, eslint --fix

fix: change height of posts in mobile device
  src/app/home/_component/HomeContent/posts/MultiplePosts.tsx
  src/app/home/_component/HomeContent/posts/ShowPosts.tsx
Due: prettier --write, cspell, eslint --fix

fix: change width of navbar in mobile and increase height of navbar icons
  src/app/home/_component/utileSide/NavigateMobile.tsx
  src/app/home/_component/utileSide/PagesList.tsx
Due: prettier --write, cspell, eslint --fix

fix: responive value padding of cointainer in all device
  tailwind.config.ts
Due: prettier --write, cspell, eslint --fix

fix(ui): change nav to bottom-0 in mobile
  src/app/home/_component/Header.tsx
  src/app/home/_component/utileSide/NavigateMobile.tsx
  src/app/home/_component/utileSide/PagesList.tsx
Due: prettier --write, cspell, eslint --fix

refactor: add all props of button in button
  src/components/Button.tsx
Due: prettier --write, cspell, eslint --fix

fix: path alias change to right format " @/* "
  src/app/home/_component/Header.tsx
  src/app/home/_component/HomeContent/posts/ShowPosts.tsx
  src/app/home/_component/HomeContent/story/AddStory.tsx
  src/app/home/_component/HomeContent/story/PreviewStoryMap.tsx
  src/app/home/_component/HomeContent/story/ShowStoriesMap.tsx
  src/app/home/_component/HomeContent/story/StoryDetail.tsx
  src/app/home/_component/profileSide/ProfileInfo.tsx
  src/app/home/_component/profileSide/index.tsx
  src/app/home/_component/utileSide/DirectMassages.tsx
  src/app/home/_component/utileSide/index.tsx
  src/app/home/layout.tsx
  src/app/home/loading.tsx
  src/app/layout.tsx
  src/app/not-found.tsx
  src/app/profile/_component/ProfileInformation.tsx
  src/app/profile/layout.tsx
  src/app/profile/loading.tsx
  src/app/profile/page.tsx
  tsconfig.json
Due: prettier --write, cspell, eslint --fix

style: change font robot to a div instead of body
  src/app/layout.tsx
Due: prettier --write, cspell, eslint --fix

fix: add database.ts to ignorePatterns
  .eslintrc.cjs
Due: none

feat: add new unknown keywords
  keywords.txt
Due: none

feat: new domain
  next.config.mjs
Due: none

feat: add supabase, zod, etc library
  package-lock.json
  package.json
Due: prettier --write, cspell

feat: add supabase and types path
  tsconfig.json
Due: prettier --write, cspell

feat: add target
  tsconfig.json
Due: prettier --write, cspell

feat: add loginPic.png
  public/loginPic.png
Due: none

feat: add middleware
  src/middleware.ts
Due: prettier --write, cspell, eslint --fix

feat: add new keyword
  keywords.txt
Due: none

feat: add email-verification page
  src/app/auth/email-verification/layout.tsx
  src/app/auth/email-verification/page.tsx
Due: prettier --write, cspell, eslint --fix

feat: add component of email-verification page
  src/app/auth/email-verification/_component/InputVerificationT.tsx
  src/app/auth/email-verification/_component/Verification.tsx
Due: prettier --write, cspell, eslint --fix

feat: add UserEmailVerification and reSendEmailVerification server action components
  src/app/auth/email-verification/action.ts
Due: prettier --write, cspell, eslint --fix

feat: add zod schema
  src/types/auth/emailVerificationType.ts
Due: prettier --write, cspell, eslint --fix

fix: delete zod schema
  src/types/auth/emailVerificationType.ts
Due: prettier --write, cspell, eslint --fix

feat: add forgot-password page
  src/app/auth/forgot-password/layout.tsx
  src/app/auth/forgot-password/page.tsx
Due: prettier --write, cspell, eslint --fix

feat: add form of forgot-password
  src/app/auth/forgot-password/_component/ForgotPasswordForm.tsx
Due: prettier --write, cspell, eslint --fix

feat: add sent page and components
  src/app/auth/forgot-password/sent/page.tsx
Due: prettier --write, cspell, eslint --fix

feat: add sendResetEmail server action for resend email to user
  src/app/auth/forgot-password/action.ts
Due: prettier --write, cspell, eslint --fix

feat: add types and zod schema
  src/types/auth/forgotPasswordType.ts
Due: prettier --write, cspell, eslint --fix

feat: add login page
  src/app/auth/login/layout.tsx
  src/app/auth/login/page.tsx
Due: prettier --write, cspell, eslint --fix

Path conditions:
  prettier --write: (any of: *.json) or (any of: *.{js,ts,tsx})
  cspell: (any of: *.json) or (any of: *.{js,ts,tsx})
  eslint --fix: any of: *.{js,ts,tsx}
